@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* Rules common for all 3 pages   ----------- */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-size: 18px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
}

#logo {
  font-family: Serif;
  letter-spacing: 2px;
  color: #fff;
  font-size: 160%;
}

#bg-image h1, #events-bg-image h1 {
  margin: 20px 20px;
}

a {
  text-decoration: none;
}

#menu {
  width: 70px;
  margin: 20px 0 0 40px;
  padding: 10px 20px;
  background-color: rgba(20, 37, 125, 0.8);
}

#menu a {
  color: #fff;
  line-height: 1.4;
}
#menu a:hover {
  border-bottom: 1px solid #fff; 
}

.active {
  border-bottom: 1px solid #fff; 
}

li {
  list-style: none;
}

.social-networks a {
  color:#5b3e0a;
}

/* ---------    index.html ------------ */
#bg-image {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: url('../images/tulip-field.jpg') no-repeat top center;
}

#welcome, #events, #location {
  width: 75%;
  margin: 0 auto;
}

#welcome, #events {
    margin-top: 70px;
}

#welcome p, #events p {
  margin-top: 20px;
}

#welcome p, #compost-paragraph, #bulbs-paragraph {
  text-align: justify;
}

h2, #events > p, #events h3, .sign-up, #bulbs-date {
  text-align: center;
}

.flower-icon {
  width: 30px;
  height: auto;
  position: relative;
  top: 10px;
  right: 25px;
}

.flower-icon-left, .flower-icon-right {
  width: 55px;
  height: auto;
  position: relative;
  top: 7px;
}

.flower-icon-left {
  right: 60px;
}

.flower-icon-right {
  left: 60px;
}

#compost-wrapper, #bulbs-wrapper {
  display: flex;
  margin-top: 70px;
}

#compost-description, #bulbs-description {
  padding-right: 40px;
}

#compost-photo, #bulbs-photo {
  width: 300px;
  height: 221px;
}

#compost-description ul {
  width: 250px;
  margin: 20px auto;
}

#events a:hover, #events-list a:hover {
  border-bottom: 1px solid; 
}

#more-events {
  margin-top: 40px;
}

#events-photos {
  width: 80%;
  margin: 60px auto 0;
}

#gardening-photo, #girl-photo, #gladiolus-photo {
  width: 40%;
  height: auto;
}

#gardening-photo {
  float: left;
}

#gladiolus-photo {
  float: right;
}

#girl-photo {
  clear: both;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
}

#location-wrapper {
  display: flex;
  margin-top: 60px;
}

#map-container {
  width: 400px;
  height: 300px;
}

#map {
  width: inherit;
  height: inherit;
}

#directions {
  width: auto;
  padding-left: 50px;
}

#how-to-get-there {
  margin-top: 20px;
}

#location {
  padding-bottom: 20px;
}

/* Footer (common for index.html & events.html)  ------ */
.social-networks {
  display: flex;
  width: 90px;
  margin: 10px auto 5px;
}

.social-networks li {
  margin-right: 15px;
}

#floral-rim {
  width: 100%;
  height: auto;
}

/* ---------   events.html ---------------    */
#events-bg-image {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: url('../images/daffodils.jpg') no-repeat center top;
}

#events-wrapper {
  width: 85%;
  height: auto;
  padding-top: 60px;
  margin: 0 auto;
} 

#red-gladiolus, #dahlia, #sunflower, #gladiolus {
  width: 20%;
  height: auto;
  border-radius: 50%;
}

#top-part, #bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

#events-list {
  width: 100%;
}

.column-2 {
  padding-left: 30px;
}

#events-table {
  font-size: 110%;
  width: 430px;
  margin: 0 auto;
}

#events-table tr {
  line-height: 3;
}

#events-list h3 {
  text-align: center;
  position: relative;
  top: 70px;
}

/* ---------    contact.html  -------- */
#contact-bg-image {
  width: 100%;
  height: auto;
  background: url('../images/tulip-field2.jpg') no-repeat top center;
  overflow: hidden;
  padding-bottom: 200px;
}

#logo-bg {
  width: 480px;
  height: 33px;
  background-color: rgba(30, 30, 30, 0.6);
  margin: 20px 0 0 20px;
}

#form-wrapper {
  width: 100%;
}

#form-bg {
  display: block;
  width: 500px;
  margin: 0 auto;
  background-color: rgba(30, 30, 30, 0.8);
  color: #fff;
  padding: 20px 0;
}

#form-contents {
  width: 90%;
  display: block;
  margin: 0 auto;
}

#form-contents h2 {
  text-align: center;
  font-size: 110%
}

#personal-data label, .radio-options {
  display: block;
}

#personal-data {
  margin-top: 15px;
}

#personal-data input {
  line-height: 1.6;
  font-size: 110%;
  margin-bottom: 5px;
  background-color: rgba(230,230,230,0.5);
  padding: 0 5px;
}

#personal-data label {
  line-height: 1.6;
}

#form-contents p, #comments {
  margin: 15px 0 5px;
}

.radio-options label {
  line-height: 1.4;
}

textarea {
  width: 100%;
  height: 150px;
  margin-top: 5px;
  font-size: 110%;
  background-color: rgba(230,230,230,0.5);
  padding: 0 5px;
}

#btn {
  font-size: 110%;
  background-color: rgba(20, 37, 125);
  padding: 10px 30px;
  border-radius: 5%;
  color: #fff;
}

#btn:hover {
  background-color: rgb(19, 4, 103);
}

/* --------- screen sizes of 1000px and below ------------ */
@media screen and (max-width: 1000px) {
  /* ------- index.html  -------------------*/
  #welcome, #events, #location,  #events-photos {
    width: 90%;
  }

  #welcome, #events {
    margin-top: 50px;
  }

  #location-wrapper {
    margin-top: 30px;
  }

  #map-container {
    width: 350px;
    height: 260px;
  }

/* --------- contact.html ------------- */
  #form-wrapper {
    margin-top: 20px;
  }
}

/* screen sizes of 780px or smaller */
@media screen and (max-width: 780px) {
  #bg-image, #events-bg-image {
    height: 400px;
  }

  #welcome, #events, #location {
    width: 80%;
  }

  #compost-wrapper, #bulbs-wrapper, #location-wrapper {
    display: block;
  }

  #compost-wrapper {
    margin-top: 40px;
  }

  #bulbs-wrapper {
    margin-top: 60px;
  }

  #compost-description, #bulbs-description, #directions {
    padding: 0;
  }

  #directions {
    margin-top: 30px;
  }

  #compost-photo, #bulbs-photo, #map-container {
    display: block;
    margin: 20px auto 0;
  }

  #gardening-photo, #girl-photo, #gladiolus-photo {
    width: 55%;
    height: auto;
  }

  #gardening-photo {
    float: left;
  }

  #gladiolus-photo {
    float: right;
    position: relative;
    bottom: 40px;
    z-index: 2;
  }

  #girl-photo {
    float: left;
    bottom: 80px;
    z-index: 3;
  }

  #location {
    clear: both;
    position: relative;
    bottom: 20px;
  }

  #address {
    width: 125px;
    margin: 30px auto;
  }

/* -------- events.html   -----------------------  */

  #events-wrapper {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
  }

  #events-list {
    margin: 20px auto;
  }

  #events-table {
    font-size: 100%;
  }

  #red-gladiolus, #dahlia, #sunflower, #gladiolus {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  #events-list h3 {
    top: auto;
    margin-top: 30px;
  }
}

/* screen sizes of 620px and below */
@media screen and (max-width: 620px) {  
  #bg-image, #events-bg-image, #contact-bg-image {
    padding-top: 15px;
  }

  #logo {
    width: 240px;
    margin: 0 auto;
  }

  #bg-image h1, #events-bg-image h1 {
    margin: auto;
  }

  #logo-bg {
    width: 240px;
    height: 65px;
    margin: 0 auto;
  }

  #menu {
    margin: 20px 0 0 30px;
  }

  #welcome, #events, #location {
    width: 90%;
  }

  #events > p {
    text-align: justify;
  }
 
  /* ---------- contact.html -----------------  */
  #form-bg {
    width: 80%;
  }

  #form-contents, input, textarea {
    font-size: 90%;
  }
}

/* screen sizes of 500px and below */
@media screen and (max-width: 500px) {
  #welcome, #events {
    margin-top: 30px;
  }

  .flower-icon-left {
    right: 8px;
  }
  
  .flower-icon-right {
    left: 8px;
  }

  #gardening-photo, #girl-photo, #gladiolus-photo {
    width: 70%;
    height: auto;
    bottom: auto;
  }

  #location {
    padding-top: 40px;
  }

  #map-container {
    width: 300px;
    height: 225px;
  }

  /* -----------  events.html ------- */
  #events-bg-image {
    background: url('../images/daffodils-2.jpg') no-repeat center top;
  }

  #events-wrapper {
    font-size: 80%;
  }

  #events-table {
    width: 295px;
  }

  .column-2 {
    padding: 5px;
  }

  #red-gladiolus, #dahlia, #sunflower, #gladiolus {
    width: 24%;
    height: auto;
  }

  /* ------ contct.html ---------------- */
  #form-bg {
    width: 90%;
  }
}