@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK&family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-size: 18px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
}

#bg-image {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: url('../images/tulip-field.jpg') no-repeat top center;
}

#logo {
    font-family: "Nato Serif HK", sans-serif;
    letter-spacing: 2px;
    color: #fff;
    font-size: 160%;
    margin: 20px 20px;
}

a {
    text-decoration: none;
}

li {
  list-style: none;
}

#menu a {
  color: #fff;
  line-height: 1.4;
  margin-left: 5px;
}

#menu {
  width: 100px;
  margin: 20px 0 0 40px;
  padding: 15px 20px;
  background-color: rgba(20, 37, 125, 0.8);
}

#about, #location {
  width: 75%;
  margin: 0 auto;
}

#welcome, #events {
    margin-top: 70px;
}

#welcome p, #events p {
  margin-top: 20px;
}

h2, #events > p, #events h3, .sign-up, #bulbs-date {
  text-align: center;
}

.gray-flower-icon {
  width: 22px;
  height: 22px;
  position: relative;
  top: 4px;
}

.flower-icon {
  width: 30px;
  height: auto;
  position: relative;
  top: 10px;
  right: 25px;
}

.flower-icon-left, .flower-icon-right {
  width: 80px;
  height: auto;
  position: relative;
  top: 10px;
}

.flower-icon-left {
  right: 20px;
}

.flower-icon-right {
  left: 20px;
}

#compost-wrapper, #bulbs-wrapper {
  display: flex;
  margin-top: 70px;
}

#compost-description, #bulbs-description {
  padding-right: 40px;
}

#compost-photo, #bulbs-photo {
  width: 380px;
  height: 280px;
}

#compost-description ul {
  width: 300px;
  margin: 20px auto;
}

#events a:hover, #events-list a:hover {
  text-decoration: underline;
}

#more-events {
  margin-top: 30px;
}

#events-photos {
  margin-top: 40px;
}

#gardening-photo, #girl-photo, #gladiolus-photo {
  width: 40%;
  height: auto;
}

#gardening-photo {
  float: left;
}

#gladiolus-photo {
  float: right;
}

#girl-photo {
  clear: both;
  position: relative;
  left: 30%;
  bottom: 60px;
}

#location {
  margin-top: 10px;
}

#location-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
  }

#map-container {
  width: 400px;
  height: 300px;
}

#map {
  width: inherit;
  height: inherit;
}

#directions {
  width: auto;
  padding-left: 50px;
}

#how-to-get-there {
  margin-top: 10px;
}

.social-networks {
  display: flex;
  width: 90px;
  margin: 40px auto 5px;
}

.social-networks li {
  margin-right: 15px;
}

#floral-rim {
  width: 100%;
  height: auto;
}

/* ---------   events.html ---------------    */

#events-bg-image {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: url('../images/daffodils.jpg') no-repeat center top;
}

#events-wrapper {
  width: 85%;
  height: 700px;
  padding: 60px 0 40px;
  margin: 0 auto;
} 

#left-photos, #right-photos {
  width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#left-photos {
  float: left;
}

#right-photos {
  float: right;
}

#events-list {
  width: 46%;
  margin: 70px auto 0;
}

#events-list h2 {
  text-align: center;
}

#events-list ul {
  margin-top: 60px;
}

#events-table {
  width: 400px;
  margin: 40px auto 0;
}

#events-list h3 {
  text-align: center;
  margin: 70px 0 0;
}

#events-table tr {
  line-height: 3;
}

#red-gladiolus, #dahlia, #sunflower, #gladiolus {
  width: 70%;
  height: auto;
  border-radius: 50%;
}

/* ---------    contact.html  -------- */
#contact-bg-image {
  width: 100%;
  height: auto;
  background: url('../images/tulip-field2.jpg') no-repeat top center;
  overflow: hidden;
  padding-bottom: 40px;
}

#form-wrapper {
  width: 100%;
}

#form-bg {
  display: block;
  width: 500px;
  margin: 0 auto;
  background-color: rgba(30, 30, 30, 0.8);
  color: #fff;
  padding: 20px 0 30px;
}

#form-contents {
  width: 90%;
  display: block;
  margin: 0 auto;
}

#form-contents h3 {
  text-align: center;
}

#personal-data label, .radio-options {
  display: block;
}

#personal-data {
  margin-top: 15px;
}

#personal-data input {
  line-height: 1.6;
  font-size: 110%;
  margin-bottom: 5px;
  background-color: rgba(230,230,230,0.5);
  padding-left: 5px;
}

#personal-data label {
  line-height: 1.6;
}

#form-contents p {
  margin: 15px 0 5px;
}

.radio-options label {
  line-height: 1.4;
}

#comments {
  margin: 15px 0 15px;
}

textarea {
  display: block;
  width: 100%;
  height: 150px;
  margin-top: 5px;
  font-size: 110%;
  background-color: rgba(230,230,230,0.5);
  padding: 0 5px;
}

#btn {
  font-size: 110%;
  background-color: hsl(299, 83%, 66%);
  padding: 10px 30px;
  border-radius: 5%;
  color: #fff;
}

/* screen sizes of 1000px or smaller */
@media screen and (max-width: 1000px) {
  #about, #location {
    width: 90%;
    margin: 0 auto;
  }

  #compost-photo, #bulbs-photo {
    width: 350px;
    height: auto;
  }

  #map-container {
    width: 350px;
    height: 260px;
  }

  #form-wrapper {
    margin-top: 40px;
  }
}

/* screen sizes of 780px or smaller */
@media screen and (max-width: 780px) {
  #about, #location {
    width: 80%;
    margin: 0 auto;
  }

  #compost-wrapper, #bulbs-wrapper, #location-wrapper {
    display: block;
  }

  #compost-description, #bulbs-description, #directions {
    padding: 0;
  }

  #compost-photo, #bulbs-photo, #map-container {
    display: block;
    margin: 40px auto 0;
  }

  #compost-paragraph, #bulbs-paragraph, #how-to-get-there {
    text-align: left;
  }

  #gardening-photo, #girl-photo, #gladiolus-photo {
    width: 60%;
    height: auto;
  }

  #gardening-photo {
    float: left;
  }

  #gladiolus-photo {
    float: right;
  }

#girl-photo {
  float: left;
  left: auto;
  bottom: auto;
}

#location {
  clear: both;
  padding-top: 70px;
}

#address {
  margin: 30px 0 30px 60px;
}

/* -------- events.html   -----------------------  */

#events-wrapper {
  width: 90%;
  height: 600px;
  margin: 0 auto;
}

#events-table {
  position: relative;
  right: 60px;
}

.column-2 {
  padding-left: 30px;
}

#events-table tr {
  line-height: 2;
}

#red-gladiolus, #dahlia, #sunflower, #gladiolus {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  #events-list h3 {
    margin: 40px 0 0;
    width: 330px;
  }
}

/* screen sizes of 620px or smaller */
@media screen and (max-width: 620px) {
  #logo {
    width: 310px;
    margin: 10px auto;
  }

  #events > p {
    text-align: left;
  }

  /*   contact.html   */
  #form-bg {
    width: 80%;
  }
}

/* screen sizes of 500px or smaller */
@media screen and (max-width: 500px) {
  #bg-image, #events-bg-image {
    height: 450px;
  }

  #about, #location {
    width: 90%;
    margin: 0 auto;
  }

  #compost-photo, #bulbs-photo {
    width: 300px;
    height: auto;
  }

  #map-container {
    width: 300px;
    height: 225px;
  }

  /* -----------  events.wrapper ------- */
  #events-wrapper {
    height: 500px;
  }

  #events-list {
    font-size: 80%;
    margin-top: 40px;
  }

  #events-table {
    width: 300px;
    margin: 50px auto 0;
  }

  #events-list h3 {
    margin-top: 20px;
  }
  .column-2 {
    padding: 0;
  }

  #red-gladiolus, #dahlia, #sunflower, #gladiolus {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .radio-options label {
    margin-left: 5px;
  }
}
