@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK&family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-size: 18px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
}



#bg-image {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: url('../images/tulip-field.jpg') no-repeat top center;
}

#logo {
    font-family: "Nato Serif HK", sans-serif;
    letter-spacing: 2px;
    color: #fff;
    font-size: 160%;
    margin: 20px 20px;
}

a {
    text-decoration: none;
}
 
li {
  list-style: none;
}
     
#menu a {
  color: #fff;
  line-height: 1.4;
  margin-left: 5px;
}
  
#menu {
  width: 100px;
  margin: 20px 0 0 40px;
  padding: 15px 20px;
  background-color: rgb(20, 37, 125);
}

.inactive {
  visibility: hidden;
}

.inactive:hover {
  visibility: visible;
  text-decoration: underline;
}

#about, #location {
    width: 75%;
    display: block;
    margin: 0 auto;
}

#welcome, #events, #location {
    margin-top: 70px;
}

#welcome p, #events p, #compost-date {
    margin-top: 20px;
}

h2, #events > p, #events h3, .sign-up {
  text-align: center
}

.gray-flower-icon {
  width: 22px;
  height: 22px;
  position: relative;
  top: 4px;
}

.flower-icon {
  width: 30px;
  height: auto;
  position: relative;
  top: 10px;
  right: 25px;
}

.flower-icon-left, .flower-icon-right {
  width: 80px;
  height: auto;
}

.flower-icon-left {
  position: relative;
  top: 10px;
  right: 20px;
}

.flower-icon-right {
  position: relative;
  top: 13px;
  left: 20px;
}

#compost-wrapper, #bulbs-wrapper {
  display: flex;
  margin-top: 70px;
}

#compost-description, #bulbs-description {
  padding-right: 40px;
}

#compost-photo, #bulbs-photo {
  width: 380px;
  height: 280px;
}

#events a:hover {
  text-decoration: underline;
} 

#more-events {
  margin-top: 30px;
}

#location-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
  }

#map-container {
  width: 400px;
  height: 300px;
}

#map {
  width: 400px;
  height: 300px;
}

#directions {
  width: auto;
  padding-left: 50px;
}

#how-to-get-there {
  margin-top: 10px;
}

.social-networks {
  display: flex;
  width: 90px;
  margin: 40px auto 5px;
}

.social-networks li {
  margin-right: 15px;
}

#floral-rim {
  width: 100%;
  height: auto;
}

/* ---------   events.html ---------------    */

#events-bg-image {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: url('../images/narcissi.jpg') no-repeat center top;
}

#events-list h2 {
  margin-top: 80px;
  text-align: center;
}
  
#events-list ul {
  margin-top: 60px;
}
  
#events-wrapper {
  display: flex;
}
  
#events-list {
  width: 46%;
  order: 2;
}

#events-table {
  width: 400px;
  margin: 40px auto 0;
}

#left-photos, #right-photos {
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#left-photos {
  order: 1;
}

#right-photos {
  order: 3;
}
  
#events-table tr {
  line-height: 3;
}
  
#red-gladiolus, #dahlia, #sunflower, #gladiolus {
  width: 70%;
  height: auto;
  border-radius: 50%;
  margin-top: 60px;
}
  
/* ---------    contact.html  -------- */
#contact-bg-image {
  width: 100%;
  height: 1000px;
  background: url('../images/tulip-field2.jpg') no-repeat top center;
  overflow: hidden;
}

#form-wrapper {
  width: 100%;
}

#form-bg {
  display: block;
  width: 500px;
  margin: 0 auto;
  background-color: rgba(80, 80,80, 0.6);
  color: #fff;
  padding: 20px 0 30px;
}

#form-contents {
  width: 90%;
  display: block;
  margin: 0 auto;
}

#form-contents h3 {
  text-align: center;
}

#personal-data label, .radio-options {
  display: block;
}

#personal-data {
  margin-top: 15px;
}

#personal-data input {
  line-height: 1.6;
  font-size: 110%;
  margin-bottom: 5px;
  background-color: rgba(230,230,230,0.5);
}

#personal-data label {
  line-height: 1.6;
}

#form-contents p {
  margin: 15px 0 5px;
}

.radio-options label {
  line-height: 1.4;
}

#comments {
  margin: 15px 0 15px;
}

textarea {
  display: block;
  width: 100%;
  height: 150px;
  margin-top: 5px; 
  font-size: 110%;
  background-color: rgba(230,230,230,0.5);
}

#btn {
  font-size: 110%;
  background-color: hsl(299, 83%, 66%);
  padding: 10px 30px;
  border-radius: 5%;
  color: #fff;
}